{% extends "layout.html" %} {% block basic_acc %}
<main>
    <section class="accounting-bg">
        <div class="container content-block">
            <div class="text-left heading">
                <h1 class="program-title">Basic Accounting</h1>
                <p class="text-left d-inline">
                    The Basic Accounting Program will equip you with strong fundamentals in accounting. This is highly recommended for those taking up business courses. We have all the exercises prepared for you that you will surely see in your future accounting courses. Being fundamentally sound in accounting is very important and that is why we would like you to build them with us.
                    <br><br>
                </p>
                 <p>The program will start on <strong>June 21, 2021</strong>. This is designed to run for <strong>45 hours (8 weeks)</strong>, with <strong>2-hour sessions</strong> every Monday, Wednesday and Friday (MWF), or Tuesday, Thursday and Saturday (TTHS), depending on the student’s schedule. <br></p>
                <p>Available platforms for the tutorial sessions are <span class="iconify" data-icon="grommet-icons:zoom" data-inline="false" style="height: auto;font-size: 14px;margin-bottom: 4px;"></span><strong>&nbsp;Zoom</strong> and&nbsp;&nbsp;<span class="iconify" data-icon="logos:google-meet" data-inline="false" style="height: auto;font-size: 12px;margin-bottom: 4px;"></span><strong>&nbsp;Google Meet</strong>.<br></p>
            </div>
            <div class="row">
                <div class="col-lg-4 align-items-xl-center">
                    <div>
                        <h3 class="subject-detail">University Subject Codes</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="table-responsive text-center">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th class="table-dark" style="width: 60%;">University</th>
                                    <th class="table-dark">Subject Code/s</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>University of the Philippines (UP)</td>
                                    <td>BA 99.1<br></td>
                                </tr>
                                <tr>
                                    <td>De La Salle University (DLSU)</td>
                                    <td>FDNACC<br>ACCBFAR<br>ACCCOB1<br></td>
                                </tr>
                                <tr>
                                    <td>Ateneo de Manila University (ADMU)</td>
                                    <td>ACCT 113<br></td>
                                </tr>
                                <tr>
                                    <td>University of Sto. Tomas (UST)</td>
                                    <td>CA 5101<br></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h3 class="subject-detail">Pricing</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="table-responsive text-center">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th class="table-dark" style="width: 40%;">Package</th>
                                    <th class="table-dark">Price</th>
                                    <th class="table-dark" style="width: 30%;">No. of Hours</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>One-on-one</td>
                                    <td>11,000</td>
                                    <td>45</td>
                                </tr>
                                <tr>
                                    <td>One-on-three</td>
                                    <td>8,500 per student</td>
                                    <td>45</td>
                                </tr>
                                <tr>
                                    <td>One-on-five</td>
                                    <td>7,500 per student</td>
                                    <td>45</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h3 class="subject-detail">Topics</h3>
                    </div>
                </div>
                <div class="col">
                    <p>Introduction: Concepts and General Principles<br>The Recording Phase<br>Adjusting Entries<br>Financial Statements<br>Cash and Cash Equivalents<br>Receivables<br>Inventory<br>Property, Plant and Equipment<br></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h3 class="subject-detail">Materials</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <div class="text-center"><span class="iconify" data-icon="gg:notes" data-inline="false" style="font-size: 45px"></span><span><br>Lesson Handouts<br><br><br></span></div>
                        </div>
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <div class="text-center"><span class="iconify" data-icon="mdi:brain" data-inline="false" style="font-size: 45px"></span><span><br>Lesson Exercises<br><br><br></span></div>
                        </div>
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <div class="text-center"><span class="iconify" data-icon="ic:outline-quiz" data-inline="false" style="font-size: 45px"></span><span><br>Additional Exercises<br><br><br></span></div>
                        </div>
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <div class="text-center"><span class="iconify" data-icon="bx:bx-timer" data-inline="false" style="font-size: 45px"></span><span><br>Final Exam<br><br><br></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h3 class="subject-detail">Tutors</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="row justify-content-center">
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#alipio" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Alipio.png') }}" alt="Accounting tutor Alipio"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#ebdani" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Ebdani.jpg') }}" alt="Accounting tutor Ebdani"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#ebuna" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Ebuna.jpeg') }}" alt="Accounting tutor Ebuña"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#entico" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Entico.png') }}" alt="Accounting tutor Entico"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#gargollo" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Gargollo.jpg') }}" alt="Accounting tutor Gargollo"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#gosyco" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Gosyco.jpeg') }}" alt="Accounting tutor Gosyco"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#hidalgo" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Hidalgo.png') }}" alt="Accounting tutor Hildalgo"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#iloseo" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Iloseo.jpg') }}" alt="Accounting tutor Iloseo"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#labena" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Labena.jpeg') }}" alt="Accounting tutor Labeña"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#laborada" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Laborada.jpeg') }}" alt="Accounting tutor Laborada"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#lim" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Lim.jpg') }}" alt="Accounting tutor Lim"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#odronia" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Odronia.png') }}" alt="Accounting tutor Odronia"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#panergalin" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Panergalin.jpg') }}" alt="Accounting tutor Panergalin"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#pascasio" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Pascasio.png') }}" alt="Accounting tutor Pascasio"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#pinawin" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Pinawin.jpeg') }}" alt="Accounting tutor Pinawin"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#vitug" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/acc/Vitug.png') }}" alt="Accounting tutor Vitug"></div>
                            </a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h3 class="subject-detail">Who Made the Materials</h3>
                    </div>
                </div>
                <div class="col">
                    <div><img alt="UPgrade Head Tutor Chris Guingcangco" class="head-tutor-img" src="{{ url_for('static', filename='img/tutors/head/Guingcangco.jpg') }}">
                        <h5 class="tutor-name">Chris Guingcangco, CPA<br></h5>
                    </div>
                    <h6 class="font-weight-bold">Education</h6>
                    <ul>
                        <li>Law Student (Juris Doctor Program) at the University of the Philippines - Diliman<br></li>
                        <li>Graduated BS Accountancy at De La Salle University&nbsp;<ul>
                                <li>Honorable Mention Dean’s List <br></li>
                            </ul>
                        </li>
                    </ul>
                    <h6 class="font-weight-bold">Work Experience</h6>
                    <ul>
                        <li>Owner of FTBH Common Health Food Corner (San Lorenzo, Makati)<br></li>
                        <li>Former Finance Specialist at Unilab Inc.<br></li>
                        <li>Former Associate at PwC Philippines (Isla Lipana &amp; Co.)<br></li>
                        <li>Former Intern at PwC Philippines (Isla Lipana &amp; Co.)<br></li>
                        <li>Former Tutor of Business Courses<br></li>
                        <li>Provides private tutorial services to aspiring CPAs and business majors in De La Salle University - Manila. Subjects taught include basic and advanced accounting, taxation, and business law.<br></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div></div>
                </div>
                <div class="col">
                    <div><img alt="UPgrade Head Tutor Neil Jason Lopez" class="head-tutor-img" src="{{ url_for('static', filename='img/tutors/head/Lopez.jpg') }}">
                        <h5 class="tutor-name">Neil Jason Lopez, CPA<br></h5>
                    </div>
                    <h6 class="font-weight-bold">Education</h6>
                    <ul>
                        <li>University of the Philippines Diliman BS Business Administration and Accountancy Batch 2019 Cum Laude<br></li>
                        <li>CPA Board Exams 2019 Passer&nbsp;<br></li>
                    </ul>
                    <h6 class="font-weight-bold">Work Experience</h6>
                    <ul>
                        <li>Works as a Reviewer at Pinnacle CPA Review School<br></li>
                        <li>Works as an Accounting Instructor at Ateneo de Manila University<br></li>
                        <li>Works as an Accounting Staff at Dezign Works Phils Inc.&nbsp;<br></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<div class="modal fade" role="dialog" tabindex="-1" id="alipio">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Joshua Benedict V. Alipio</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Business Administration and Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>University of Santo Tomas (UST Manila)</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.2065</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>University Scholar</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>Top 2 of ABM strand (AY 2018-2019): UST SHS Batch 2019<br></li>
                                    <li>Top 1 of ABM strand (AY 2017-2018): UST SHS Batch 2019<br></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" tabindex="-1" id="ebdani">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Roy Angelo H. Ebdani</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Business Administration and Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>APEC Schools - Dasmarinas</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.2609</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>University Scholar</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="ebuna">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Kaye Arabela C. Ebuña</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Business Administration and Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Xavier University— Ateneo de Cagayan</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.5543</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>College Scholar</li>
                                    <li>March 2021 - Paradigm Case Competition - First Place</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>October 2017: Xavier University Product Launching - Best Product<br></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="entico">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Cassandra Marie R. Entico</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Business Administration and Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>University of Santo Tomas - Legazpi</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.19</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>University Scholar</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="gargollo">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Patrice F. Gargollo</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Business Administration and Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Academy of St. John La Salle Green Hills Supervised</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.3043</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>University Scholar</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>AY 2018 - 2019: Valedictorian<br></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="gosyco">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Alaine Milka C. Gosyco</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Business Administration and Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Ateneo de Manila Senior High School</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.11</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>University Scholar</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>1st Honors<br></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="hidalgo">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Gail B. Hidalgo</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of Santo Tomas</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>University of Santo Tomas (UST Manila)</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.315</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>Dean's Lister for AY 2019-2020 </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="iloseo">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Kyle Nicolo D. Iloseo</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of Santo Tomas</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>University of Santo Tomas (UST Manila)</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.204</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>A.Y. 2019 - 2020 Dean's Lister Top 2</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>Top 4 of ABM strand (AY 2018-2019)<br></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="labena">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Vince Emmanuel P. Labeña</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of Santo Tomas</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>St. James Academy of Malabon</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.667</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>High School<ul>
                                    <li>Gerry Roxas Leadership Award<br></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="laborada">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Jed Daryl Laborada</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Business Administration and Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Grace Christian College</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.2</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>University Scholar</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>Southville Accounting InterHS Competition - Champion</li>
                                    <li>Ateneo MACA Catalyze Case Competition - Top 4</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="lim">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Morganne Gayle R. Lim</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Business Administration and Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Immaculate Conception Academy</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.4891</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>College Scholar</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>January 2019: ADMU Director's List Scholar, DLSU Archer Achiever Scholar </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="odronia">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Micolai Kate T. Odronia</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Business Administration and Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>De La Salle University Manila</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.22</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>University Scholar</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>Silver Medallion (GWA of 95-96)</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="panergalin">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Ram Andre G. Panergalin</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Business Administration and Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>University of the Philippines Rural High School</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.4</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>University Scholar</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="pascasio">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Alliah Carl Manuelle F. Pascasio</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of Santo Tomas</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>University of Santo Tomas (UST Manila)</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.48</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>Dean's Lister for AY 2019-2020</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="pinawin">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Anne Cielo Ysabel N. Pinawin</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Business Administration and Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>De La Salle University Manila</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.4457</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>College Scholar</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>December 2016: Best Student Teacher in Business Management</li>
                                    <li>May 2019: Silver Medallion - High Honors</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="vitug">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Julianne Nicole L. Vitug</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Business Administration and Accountancy</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Ateneo de Manila Senior High School</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.163</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>University Scholar</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>First Honors</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}