<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 col-xl-4 m-auto d-flex justify-content-center">
                <div><a class="footer-upgrade-logo" href="index.html"></a></div><span class="upgrade-subtitle-footer" style="text-align: left;">College<br>Preparation<br>Tutorials<br></span>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 text-white">
                <div><i class="fa fa-envelope-o"></i><span class="ml-2">admin@upgradetutorials.ph<br></span></div>
            </div>
            <div class="col-md-6 col-lg-3 text-white">
                <div><i class="fa fa-mobile-phone"></i><span class="ml-2">09152248079 (Globe)<br></span><span class="ml-3">09687237401 (Smart)<br></span></div>
            </div>
            <div class="col-lg-2 col-xl-2"><a href="http://www.facebook.com/UPgradeTutorialsPH" target="_blank"><i class="fa fa-facebook-square text-white" style="font-size: 60px;"></i></a></div>
        </div>
    </div>
</footer>