{% extends "layout.html" %} {% block precal %}
<main class="packages-main">
    <section class="precalculus-bg">
        <div class="container content-block">
            <div class="text-left heading">
                <h1 class="program-title">Precalculus</h1>
                <p class="text-left d-inline">
                    The Precalculus Program equips students with fundamental knowledge in precalculus which is a prerequisite for future calculus courses. This is highly recommended for those enrolling in Science, Technology, Engineering and Math (STEM) programs who have yet to take up precalculus in high school. This program is taught with many illustrative examples and exercises for the mastery of the subject.
                    <br><br>
                </p>
                <p>The program will start on <strong>June 21, 2021</strong>. This is designed to run for <strong>45 hours (8 weeks)</strong>, with <strong>2-hour sessions</strong> every Monday, Wednesday and Friday (MWF), or Tuesday, Thursday and Saturday (TTHS), depending on the student’s schedule. <br></p>
                <p>Available platforms for the tutorial sessions are <span class="iconify" data-icon="grommet-icons:zoom" data-inline="false" style="height: auto;font-size: 14px;margin-bottom: 4px;"></span><strong>&nbsp;Zoom</strong> and&nbsp;&nbsp;<span class="iconify" data-icon="logos:google-meet" data-inline="false" style="height: auto;font-size: 12px;margin-bottom: 4px;"></span><strong>&nbsp;Google Meet</strong>.<br></p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h3 class="subject-detail">University Subject Codes</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="table-responsive text-center">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th class="table-dark" style="width: 60%;">University</th>
                                    <th class="table-dark">Subject Code/s</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>University of the Philippines (UP)</td>
                                    <td>MATH 20</td>
                                </tr>
                                <tr>
                                    <td>De La Salle University (DLSU)</td>
                                    <td>COMALGE<br>FNDMATH</td>
                                </tr>
                                <tr>
                                    <td>Ateneo de Manila University (ADMU)</td>
                                    <td>MATH 2</td>
                                </tr>
                                <tr>
                                    <td>University of Sto. Tomas (UST)</td>
                                    <td>(N/A)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h3 class="subject-detail">Pricing</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="table-responsive text-center">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th class="table-dark" style="width: 40%;">Package</th>
                                    <th class="table-dark">Price</th>
                                    <th class="table-dark" style="width: 30%;">No. of Hours</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>One-on-one</td>
                                    <td>11,000</td>
                                    <td>45</td>
                                </tr>
                                <tr>
                                    <td>One-on-three</td>
                                    <td>8,500 per student</td>
                                    <td>45</td>
                                </tr>
                                <tr>
                                    <td>One-on-five</td>
                                    <td>7,500 per student</td>
                                    <td>45</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h3 class="subject-detail">Topics</h3>
                    </div>
                </div>
                <div class="col">
                    <p>Equations in One Variable<br>Inequalities in One Variable<br>The 2-Dimensional Cartesian Coordinate System<br>Basic Equations in Two Variables<br>Conic Sections<br>Systems of Equations/Inequalities<br>Functions<br>Some Types of Functions<br>Operations on Functions<br>Inverse Functions<br>Exponential and Logarithmic Functions<br>Angles in Standard Position<br>Trigonometry<br>Trigonometric Functions<br>Inverse Trigonometric Functions<br>Solutions to Triangles<br></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h3 class="subject-detail">Materials</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <div class="text-center"><span class="iconify" data-icon="gg:notes" data-inline="false" style="font-size: 45px"></span><span><br>Lesson Handouts<br><br><br></span></div>
                        </div>
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <div class="text-center"><span class="iconify" data-icon="mdi:brain" data-inline="false" style="font-size: 45px"></span><span><br>Lesson Exercises<br><br><br></span></div>
                        </div>
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <div class="text-center"><span class="iconify" data-icon="ic:outline-quiz" data-inline="false" style="font-size: 45px"></span><span><br>Additional Exercises<br><br><br></span></div>
                        </div>
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <div class="text-center"><span class="iconify" data-icon="bx:bx-timer" data-inline="false" style="font-size: 45px"></span><span><br>Final Exam<br><br><br></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h3 class="subject-detail">Tutors</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="row justify-content-center">
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#avena" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/math/Avena.jpg') }}" alt="Physics tutor Avena"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#cosme" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/math/Cosme.jpg') }}" alt="Physics tutor Cosme"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#coyoca" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/math/Coyoca.jpeg') }}" alt="Physics tutor  Coyoca"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#cruz" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/math/Cruz.png') }}" alt="Physics tutor Cruz"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#cuyos" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/math/Cuyos.png') }}" alt="Physics tutor Cuyos"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#diaz" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/math/Diaz.jpg') }}" alt="Physics tutor Diaz"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#orata" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/math/Orata.jpeg') }}" alt="Physics tutor Orata"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#pascua" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/math/Pascua.jpeg') }}" alt="Physics tutor Pascua"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#ricafort" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/math/Ricafort.jpg') }}" alt="Physics tutor Ricafort"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#silva" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/math/Silva.jpg') }}" alt="Physics tutor Silva"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#tagupa" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/math/Tagupa.jpg') }}" alt="Physics tutor Tagupa"></div>
                            </a></div>
                        <div class="col-auto justify-content-lg-center align-items-lg-center pb-3"><a href="#tolentino" data-toggle="modal">
                                <div><img class="tutor-img" data-toggle="modal" src="{{ url_for('static', filename='img/tutors/math/Tolentino.jpg') }}" alt="Physics tutor Tolentino"></div>
                            </a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h3 class="subject-detail">Who Made the Materials</h3>
                    </div>
                </div>
                <div class="col">
                    <div><img alt="UPgrade Head Tutor Angelika Tagupa" class="head-tutor-img" src="{{ url_for('static', filename='img/tutors/head/Tagupa.jpg') }}">
                        <h5 class="tutor-name">Angelika Tagupa</h5>
                    </div>
                    <h6 class="font-weight-bold">Education</h6>
                    <ul>
                        <li>BS Physics Major at the University of the Philippines - Diliman<ul>
                                <li>University Scholar<br></li>
                                <li>DOST scholar<br></li>
                            </ul>
                        </li>
                        <li>Graduated Senior High School at Philippine Science High School - Main Campus<ul>
                                <li>Part of the Director's List<br></li>
                            </ul>
                        </li>
                    </ul>
                    <h6 class="font-weight-bold">Awards</h6>
                    <ul>
                        <li>Department of Science and Technology Youth Excellence in Science Awardee (2011, 2013, 2015, 2016, 2017)<br></li>
                        <li>8th World Mathematics Team Championship - Bangkok (Advanced Category)<ul>
                                <li>Bronze Medalist - Individual Competition<br></li>
                                <li>Gold Certificate Award - Updated Individual Competition Results<br></li>
                                <li>8th Rank in the Team Competition<br></li>
                            </ul>
                        </li>
                        <li>15th China Girls’ Mathematical Olympiad<ul>
                                <li>Bronze Medalist<br></li>
                            </ul>
                        </li>
                        <li>12th International Mathematics Contest - Singapore<ul>
                                <li>Bronze Medalist<br></li>
                            </ul>
                        </li>
                        <li>9th International Mathematics Contest - Singapore<ul>
                                <li>Gold Medalist<br></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col">
                    <div><img alt="UPgrade Head Tutor Chris Carlos" class="head-tutor-img" src="{{ url_for('static', filename='img/tutors/head/Carlos.jpg') }}">
                        <h5 class="tutor-name">CJ Carlos</h5>
                    </div>
                    <h6 class="font-weight-bold">Education</h6>
                    <ul>
                        <li>BS Civil Engineering Major at the University of the Philippines - Diliman<br>
                            <ul>
                                <li>Oblation Scholar (Top 50 UPCAT 2019 Applicants)<br></li>
                                <li>University Scholar with a 1.075 GWA<br></li>
                            </ul>
                        </li>
                        <li>Graduated Senior High School at Ateneo Senior High School<br>
                            <ul>
                                <li>First Honors<strong>&nbsp;</strong><br></li>
                            </ul>
                        </li>
                    </ul>
                    <h6 class="font-weight-bold">Awards</h6>
                    <ul>
                        <li>Asia Universities Debating Championship 2021<br>
                            <ul>
                                <li>Overall Champion<br></li>
                            </ul>
                        </li>
                        <li>Philippine Debate Open<ul>
                                <li>National Champion, Finals Best Speaker<br></li>
                            </ul>
                        </li>
                        <li>World Debate Open<ul>
                                <li>Quarterfinalist<br></li>
                            </ul>
                        </li>
                        <li>Department of Science and Technology Youth Excellence in Science<br>
                            <ul>
                                <li>Two-time DOST Yes! Recipient<br></li>
                            </ul>
                        </li>
                        <li>Singapore and Asians Schools Math Olympiad<br>
                            <ul>
                                <li>Silver Medalist</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<div class="modal fade" role="dialog" tabindex="-1" id="avena">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Jose Manuel Paolo R. Avena</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II- BS Industrial Engineering</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Philippine Science High School Main Campus</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.5</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>2020: Debasics - Debate Tournament Best Finals Speaker</li>
                                    <li>College Scholar</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>2018: Director's List</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="cosme">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Aldrin Cosme</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Computer Engineering</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Philippine Science High School</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.2333</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>DOST Merit Scholar</li>
                                    <li>University Scholar</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="coyoca">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Jurgen Excel P. Coyoca</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>Ateneo de Manila University</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Management Engineering</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Caloocan National Science and Technology High School</span></li>
                    <li><span class="tutor-info-categ"><strong>QPI:&nbsp;</strong></span><span>4.00</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>High School<ul>
                                    <li>Batch Valedictorian</li>
                                    <li>With High Honors</li>
                                    <li>2020: PNU Interschool Regional Science and Mathematical Olympiad - Finalist</li>
                                    <li>2019: UST BioWars - Champion</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="cruz">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Tommie Daniel D.V. Cruz</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>De La Salle University</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>IV - BS/MS Chemical Engineering</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Manila Science High School</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>3.909</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>February 2020: Automathic - Fourth Place</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>February 2017: Philippine National Chemistry Olympiad - Fourth Place</li>
                                    <li>September 2015: Australian National Chemistry Quiz - High Distinction</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" tabindex="-1" id="cuyos">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Airam Dave L. Cuyos</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>IV - BS Statistics</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>De La Salle Integrated School (SHS)</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.3611</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>University Scholar</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>2015: Canadian Mathematics Contest (Fermat Contest) - Top Scorer</li>
                                    <li>Asian Cup Star of the Olympic Math Hong Kong - Silver Medalist</li>
                                    <li>Asian Cup Star of the Olympic Math - Bronze Medalist</li>
                                    <li>International Mathematics Competition - Singapore Bronze Medalist</li>
                                    <li>International Youth Invention Contest - South Korea - Bronze Medalist</li>
                                    <li>2014 and 2015: DOST Youth Excellence in Science Awardee</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="diaz">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Roy D. Diaz</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>III - BS Statistics</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Manila Science High School</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.65</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>College Scholar</li>
                                    <li>DOST Merit Scholar</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="orata">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Jamil Andrew J. Orata</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Computer Engineering</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Munoz National High School</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>University Scholar</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="pascua">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Juan Pablo R. Pascua</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Computer Engineering</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Don Bosco Technical College - Mandaluyong</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.05</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>University Scholar</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>Consistent Scholastic Distinction Awardee</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="ricafort">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Seth Gabriel V. Ricafort</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>III - BS Civil Engineering</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Philippine Science High School - Main Campus</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>DOST Merit Scholar</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>2016: PEM Olympiad - Bronze Medal</li>
                                    <li>2015-2017: 11th-13th International Mathematics Competition - Bronze Medal </li>
                                    <li>2015-2017: DOST Youth Excellence in Science Awardee</li>
                                    <li>2017: NIP PSHS Summer Immersion Program Research Contest - 1st Place</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="silva">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Ralph Laurence D. Silva</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>III - BS Mathematics</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>La Immaculada Concepcion School; Don Bosco Technical College - Mandaluyong City</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>DOST Merit Scholar</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>3-Time DOST Youth Excellence in Science Awardee</li>
                                    <li>IMC Singapore - Silver Medalist</li>
                                    <li>SASMO - Silver Medalist</li>
                                    <li>IRML (Las Vegas, Nevada, USA) - 4th Place</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="tagupa">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Angelika Joie S. Tagupa</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>III - BS Physics</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Philippine Science High School Main Campus</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.2222</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>University Scholar</li>
                                    <li>DOST Merit Scholar</li>
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>2013-2019: Philippine Math Olympiad Area Stage Finalist</li>
                                    <li>2011, 2013, 2015, 2016, 2017: DOST Youth Excellence in Science Awardee</li>
                                    <li>November 2017: 8th World Mathematics Team Championship - Bangkok - Gold Awardee Individual Competition, 8th Rank in the Team Competition for the Advanced Category</li>
                                    <li>August 2016: 15th China Girls’ Mathematical Olympiad - Bronze Medalist</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="tolentino">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong style="font-family: 'Alte Haas Grotesk';">Aaron R. Tolentino</strong><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <ul>
                    <li><span class="tutor-info-categ">School:&nbsp;</span><span><br>University of the Philippines Diliman</span></li>
                    <li><span class="tutor-info-categ"><strong>Year and Degree Program:</strong></span><span><br>II - BS Electronics Engineering</span></li>
                    <li><span class="tutor-info-categ"><strong>High School:</strong></span><span><br>Philippine Science High School Main Campus</span></li>
                    <li><span class="tutor-info-categ"><strong>GWA:&nbsp;</strong></span><span>1.35</span></li>
                    <li><span class="tutor-info-categ"><strong>Awards:&nbsp;</strong></span><br>
                        <ul>
                            <li>College<ul>
                                    <li>University Scholar</li>                                
                                </ul>
                            </li>
                            <li>High School<ul>
                                    <li>Best in Research - Top 10</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}