@media (min-width:576px) {
  .navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

@media (min-width:360px) {
  .navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-nav .nav-link {
  color: black;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: black;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
  color: black;
  font-weight: bolder;
}

.logo {
  height: 65px;
}

.content-block {
  padding-bottom: 40px;
  padding-top: 40px;
}

.banner-bg {
  background: linear-gradient(-30deg, #020E29 23.31%, #304B78 85.69%);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #2D325A;
  min-height: 462px;
  display: flex;
  align-items: center;
}

.section-clean {
  color: black;
  background-color: white;
  padding-bottom: 5rem;
  padding-top: 0rem;
}

.section-clean p {
  color: black;
}

.section-clean h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

.section-clean .intro p {
  margin-bottom: 0;
}

.section-clean .people {
  padding: 50px 0 20px;
}

.section-clean .item {
  margin-bottom: 32px;
}

@media (min-width:768px) {
  .section-clean .item {
    height: 220px;
  }
}

.section-clean .item .box {
  padding: 30px;
  background-color: #fff;
  position: relative;
}

.section-clean .item .box:after {
  content: '';
  position: absolute;
  left: 30px;
  bottom: -24px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-width: 12px 15px;
  border-top-color: #fff;
}

.section-clean .item .author {
  margin-top: 28px;
  padding-left: 25px;
}

.section-clean .item .name {
  font-weight: bold;
  margin-bottom: 2px;
  color: inherit;
}

.section-clean .item .title {
  font-size: 13px;
  color: #9da9ae;
}

.section-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
}

.section-clean .item img {
  max-width: 40px;
  float: left;
  margin-right: 12px;
  margin-top: -5px;
}

.programs-bg {
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='121' viewBox='0 0 1440 121' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-22.6876 50.9202L12.7593 45.4937C49.2501 40.0581 120.144 29.2052 192.108 21.3279C263.029 13.6019 335.02 8.85147 406.056 14.3437C478.136 19.8268 550.307 35.6855 621.325 39.0457C693.388 42.539 764.3 33.818 836.264 25.9407C907.185 18.2147 979.159 11.4744 1051.21 13.8306C1122.22 16.3381 1194.36 27.9328 1265.4 34.5621C1337.49 41.0401 1408.49 42.4105 1445.04 43.2287L1480.54 43.9139L1480.59 50.0255L1445.1 50.3353C1408.56 50.6541 1337.58 51.2736 1265.55 51.9021C1194.57 52.5216 1122.54 53.1502 1051.56 53.7696C979.533 54.3982 907.506 55.0268 836.523 55.6462C764.496 56.2748 693.513 56.8943 621.486 57.5228C550.503 58.1423 478.476 58.7709 406.449 59.3994C335.466 60.0189 263.439 60.6475 192.456 61.2669C120.429 61.8955 49.4461 62.5149 12.9106 62.8338L-22.5809 63.1435L-22.6876 50.9202Z' fill='url(%23paint0_linear)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-23.8813 69.5807L15.6675 76.4976C56.3775 83.4044 135.475 97.2382 215.697 106.826C294.756 116.222 374.939 121.372 453.834 112.01C533.89 102.637 613.818 78.5397 692.739 72.2027C772.821 65.6539 851.892 76.4621 932.113 86.0499C1011.17 95.4461 1091.38 103.42 1171.48 98.4851C1250.41 93.3583 1330.39 75.3121 1409.27 64.3359C1489.31 53.5512 1568.26 50.0381 1608.89 48.0697L1648.36 46.3132L1648.29 37.6397L1608.8 37.9843C1568.16 38.339 1489.19 39.0282 1409.05 39.7275C1330.08 40.4167 1249.95 41.116 1170.98 41.8051C1090.85 42.5044 1010.72 43.2037 931.746 43.8929C851.613 44.5922 772.643 45.2814 692.511 45.9807C613.54 46.6698 533.408 47.3691 453.276 48.0684C374.305 48.7576 294.173 49.4569 215.202 50.1461C135.07 50.8454 56.0994 51.5345 15.4527 51.8893L-24.0327 52.2338L-23.8813 69.5807Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='412.607' y1='41.2118' x2='1315.4' y2='149.748' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232D325A'/%3E%3Cstop offset='1' stop-color='%232D467C'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='202.948' y1='87.9092' x2='1184.65' y2='57.3232' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232D325A'/%3E%3Cstop offset='0.890625' stop-color='%232D467C'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.goal-bg {
  background-image: url([svg]);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tutors-bg {
  background-color: #FFFDF5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.testimonials-bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.packages-bg {
  background-color: #FFFDF8;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-title {
  font-family: Alte Haas Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 117px;
  color: #FF7601;
  filter: drop-shadow(5px 5px 0px #0B0A2B);
  margin-left: -15px;
}

@media (max-width: 450px) {
  .banner-title {
    display: none;
  }
}

.banner-subtitle {
  font-family: Alte Haas Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 60px;
  color: #F2F2F2;
  text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
}

.banner-desc {
  font-family: Kayak Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: white;
  font-weight: 400;
}

.banner-tagline {
  font-family: Alte Haas Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  color: #ECD4A7;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.intro {
  font-family: Alte Haas Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  color: #2D325A;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.card-title {
  font-family: Kayak Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: #000000;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: 'Kayak Sans';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  text-align: left;
  background-color: white;
}

.head-tutor-img {
  height: 8rem;
  width: 8rem;
  border-radius: 2rem;
  margin: 1rem auto;
}

.tutor-name {
  font-weight: bold;
  text-align: left;
}

.rating {
  background-image: url("data:image/svg+xml,%3Csvg width='112' height='24' viewBox='0 0 112 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.3925 9.378L12 1.5L9.6075 9.378H1.5L8.0595 14.478L5.625 22.5L12 17.5425L18.375 22.5L15.9405 14.478L22.5 9.378H14.3925Z' fill='%23E0B400'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36.3925 9.378L34 1.5L31.6075 9.378H23.5L30.0595 14.478L27.625 22.5L34 17.5425L40.375 22.5L37.9405 14.478L44.5 9.378H36.3925Z' fill='%23E0B400'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M58.3925 9.378L56 1.5L53.6075 9.378H45.5L52.0595 14.478L49.625 22.5L56 17.5425L62.375 22.5L59.9405 14.478L66.5 9.378H58.3925Z' fill='%23E0B400'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M80.3925 9.378L78 1.5L75.6075 9.378H67.5L74.0595 14.478L71.625 22.5L78 17.5425L84.375 22.5L81.9405 14.478L88.5 9.378H80.3925Z' fill='%23E0B400'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M102.392 9.378L100 1.5L97.6075 9.378H89.5L96.0595 14.478L93.625 22.5L100 17.5425L106.375 22.5L103.941 14.478L110.5 9.378H102.392Z' fill='%23E0B400'/%3E%3C/svg%3E%0A");
  height: 1.5rem;
  width: 7rem;
  position: relative;
  display: inline-flex;
}

.footer-logo {
  height: 7.5rem;
  width: 7.5rem;
}

.page-footer {
  padding-top: 35px;
  border-top: 1px solid rgba(221,221,221,0);
  text-align: center;
  padding-bottom: 20px;
  background: linear-gradient(180deg, #2D325A 0%, #2D325A 100%);
  bottom: 0;
}

.register {
  padding-left: 1rem;
  padding-right: 1rem;
  background: #2D325A;
  padding-bottom: 60px;
  padding-top: 60px;
}

.register-page {
  background: #2D325A;
  height: 100vh;
}

.register-upgrade-logo {
  background: url(../../assets/img/upgrade-logo.png);
  display: block;
  position: relative;
  z-index: 1;
  width: 85px;
  height: 85px;
  background-size: 100%;
}

.content-block form {
  max-width: 550px;
  padding: 3rem;
  margin: auto;
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
  background: rgb(255,250,250);
  border-radius: 0.5rem;
}

.form-heading {
  font-family: Alte Haas Grotesk;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 2rem;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.program-title {
  font-family: Alte Haas Grotesk;
  font-style: normal;
  font-weight: bold;
  color: #2D325A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.upgrade-subtitle-footer {
  color: white;
  margin: auto 0px;
  line-height: 20px;
}

.content-block > .row {
  margin-bottom: 3rem;
}

.handout {
  background-image: url([svg]);
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  .subject-detail {
    text-align: right;
  }
}

.subject-detail {
  color: #2D325A;
  font-weight: bold;
}

.footer-upgrade-logo {
  background: url(../../assets/img/upgrade-logo.png);
  width: 62px;
  height: 64px;
  background-size: 100%;
}

.nav-upgrade-logo {
  background: url(../../assets/img/upgrade-logo.png);
  width: 58px;
  height: 60px;
  background-size: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.landing-page .col {
  margin-bottom: 2rem;
}

.calculus-bg {
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='3228' viewBox='0 0 1440 3228' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1400.83 1110.01C1457.24 1109.17 1506.91 1148.54 1523.35 1203.54C1538.95 1255.69 1513.81 1309.9 1469.94 1341.07C1428.74 1370.35 1374.32 1368.42 1333.68 1338.34C1293.01 1308.23 1274.42 1256.11 1288.85 1207.03C1304.41 1154.15 1346.68 1110.82 1400.83 1110.01Z' fill='url(%23paint0_linear)'/%3E%3C/g%3E%3Cg filter='url(%23filter1_d)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1408.28 2197.02C1487.11 2195.81 1556.52 2252.67 1579.51 2332.12C1601.3 2407.43 1566.17 2485.74 1504.86 2530.77C1447.28 2573.07 1371.23 2570.27 1314.43 2526.82C1257.59 2483.33 1231.61 2408.05 1251.78 2337.16C1273.52 2260.77 1332.6 2198.18 1408.28 2197.02Z' fill='url(%23paint1_linear)'/%3E%3C/g%3E%3Cg filter='url(%23filter2_d)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.6504 2785C101.264 2785.56 163.482 2850.88 190.071 2927.45C217.611 3006.75 213.666 3099.84 144.437 3150.1C72.3022 3202.46 -28.2569 3190.82 -100.114 3138.1C-167.349 3088.77 -188.109 3002.73 -162.222 2925.11C-136.112 2846.82 -67.5058 2784.44 17.6504 2785Z' fill='url(%23paint2_linear)'/%3E%3C/g%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-4 1945L15.4312 1912.87C35.7877 1880.75 75.5754 1816.49 95.9319 1752.24C115.363 1687.99 115.363 1623.73 95.9319 1559.48C75.5754 1495.22 32.5492 1430.97 32.5492 1366.72C32.5492 1302.46 75.5754 1238.21 115.363 1173.96C156.076 1109.7 216.683 969.147 183.372 904.893C150.062 840.639 49.6671 812.127 -4 780L-4 904.893V981.596V1038.62V1088.02C-4 1120.14 -4 1075.97 -4 1140.22C-4 1204.48 -4 1187.61 -4 1251.86C-4 1316.12 -4 1328.16 -4 1392.42C-4 1456.67 -4 1476.35 -4 1540.6C-4 1604.86 -4 1677.95 -4 1742.2C-4 1806.45 -4 1794.41 -4 1826.53V1895.6V1945Z' fill='url(%23paint3_linear)'/%3E%3Cg filter='url(%23filter3_d)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M38.3164 36.0092C78.5392 35.4229 113.957 62.9185 125.688 101.332C136.808 137.749 118.879 175.612 87.596 197.385C58.2159 217.834 19.4089 216.482 -9.57162 195.473C-38.5749 174.448 -51.8329 138.046 -41.5397 103.77C-30.4483 66.8361 -0.302708 36.5722 38.3164 36.0092Z' fill='url(%23paint4_linear)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='1244' y='1074' width='324' height='332' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='20'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d' x='1205' y='2161' width='421' height='444' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='20'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter2_d' x='-213' y='2749' width='459' height='479' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='20'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter3_d' x='-85' y='0' width='254' height='256' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='20'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear' x1='1406' y1='1110' x2='1406' y2='1362' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E0B400'/%3E%3Cstop offset='1' stop-color='%23F18200'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='1415.5' y1='2197' x2='1415.5' y2='2561' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E0B400'/%3E%3Cstop offset='1' stop-color='%23F18200'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='16.5' y1='2785' x2='16.5' y2='3184' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E0B400'/%3E%3Cstop offset='1' stop-color='%23FF7600'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear' x1='48.2799' y1='917.342' x2='62.2244' y2='1788.05' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232D467C'/%3E%3Cstop offset='1' stop-color='%232D325A'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear' x1='42' y1='36' x2='42' y2='212' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232D467C'/%3E%3Cstop offset='1' stop-color='%232D325A' stop-opacity='0.74'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.physics-bg {
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='3318' viewBox='0 0 1440 3318' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1383.3 1511.01C1434.62 1510.29 1479.81 1544.34 1494.77 1591.92C1508.96 1637.03 1486.09 1683.93 1446.17 1710.9C1408.69 1736.23 1359.18 1734.55 1322.2 1708.53C1285.2 1682.49 1268.28 1637.4 1281.41 1594.94C1295.57 1549.19 1334.03 1511.71 1383.3 1511.01Z' fill='url(%23paint0_linear)'/%3E%3C/g%3E%3Cg filter='url(%23filter1_d)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.3002 1792.01C84.6189 1791.29 129.807 1825.34 144.774 1872.92C158.962 1918.03 136.087 1964.93 96.1742 1991.9C58.6893 2017.23 9.1769 2015.55 -27.7983 1989.53C-64.8025 1963.49 -81.7179 1918.4 -68.5852 1875.94C-54.4341 1830.19 -15.9724 1792.71 33.3002 1792.01Z' fill='url(%23paint1_linear)'/%3E%3C/g%3E%3Cg filter='url(%23filter2_d)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-4.57764e-05 41L19.1987 73.4444C39.3117 105.889 78.6234 170.778 98.7364 235.667C117.935 300.556 117.935 365.444 98.7364 430.333C78.6234 495.222 39.3117 560.111 39.3117 625C39.3117 689.889 106.027 749.111 145.339 814C185.565 878.889 197.473 949.444 164.561 1014.33C131.649 1079.22 53.0251 1122.56 -4.57764e-05 1155V1114V1081.5V1043C-4.57764e-05 1010.56 -4.57764e-05 1037.39 -4.57764e-05 972.5C-4.57764e-05 907.611 -4.57764e-05 906.389 -4.57764e-05 841.5C-4.57764e-05 776.611 -4.57764e-05 753.389 -4.57764e-05 688.5C-4.57764e-05 623.611 -4.57764e-05 587.389 -4.57764e-05 522.5C-4.57764e-05 457.611 -4.57764e-05 456.389 -4.57764e-05 391.5C-4.57764e-05 326.611 -4.57764e-05 268.111 -4.57764e-05 235.667V132.5V41Z' fill='url(%23paint2_linear)'/%3E%3C/g%3E%3Cg filter='url(%23filter3_d)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M198.074 2713.24C277.771 2782.3 279.492 2901.11 237.072 3002.41C193.135 3107.34 106.772 3200.8 -4.2024 3196.29C-119.835 3191.59 -205.95 3097.14 -228.097 2983.52C-248.818 2877.22 -192.397 2770.84 -98.7148 2711.42C-4.2282 2651.5 116.908 2642.9 198.074 2713.24Z' fill='url(%23paint3_linear)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='1237' y='1475' width='302' height='298' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='20'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d' x='-113' y='1756' width='302' height='298' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='20'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter2_d' x='-45' y='0' width='273.6' height='1204' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='22.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter3_d' x='-378.712' y='2521.07' width='797.423' height='804.857' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='20'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear' x1='1388' y1='1511' x2='1388' y2='1729' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E0B400'/%3E%3Cstop offset='1' stop-color='%23F18200'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='38' y1='1792' x2='38' y2='2010' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F18200'/%3E%3Cstop offset='1' stop-color='%23E0B400'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='176.839' y1='625' x2='-158.161' y2='625' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EE8E00'/%3E%3Cstop offset='1' stop-color='%23E1B100'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear' x1='196.974' y1='2712.29' x2='-156.975' y2='3126.71' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232D467C'/%3E%3Cstop offset='1' stop-color='%232D325A' stop-opacity='0.48'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.precalculus-bg {
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='3331' viewBox='0 0 1440 3331' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-116.448 140.942C-53.2537 94.676 21.4399 97.6436 74.0996 126.939C128.641 157.281 165.355 213.108 134.653 280.632C102.662 350.99 21.9839 400.313 -54.5954 409.976C-126.248 419.018 -178.56 381.014 -192.157 321.874C-205.87 262.226 -180.807 188.062 -116.448 140.942Z' fill='url(%23paint0_linear)'/%3E%3C/g%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 2371L20.0584 2398.81C41.0719 2426.61 82.1439 2482.22 103.157 2537.83C123.216 2593.44 123.216 2649.06 103.157 2704.67C82.1439 2760.28 41.0719 2815.89 41.0719 2871.5C41.0719 2927.11 82.1439 2982.72 123.216 3038.33C165.243 3093.94 206.315 3149.56 171.929 3205.17C137.543 3260.78 55.3994 3302.33 0 3330.14V3304.5V3284.5C0 3256.69 0 3269.11 0 3213.5C0 3157.89 0 3093.94 0 3038.33C0 2982.72 0 2927.11 0 2871.5C0 2815.89 0 2770.11 0 2714.5C0 2658.89 0 2605.11 0 2549.5C0 2493.89 0 2456.81 0 2429V2371Z' fill='url(%23paint1_linear)'/%3E%3Cg filter='url(%23filter1_d)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1428.72 876.004C1517.63 876.625 1583.79 949.642 1612.06 1035.23C1641.35 1123.87 1637.15 1227.93 1563.54 1284.1C1486.84 1342.64 1379.91 1329.63 1303.5 1270.7C1232.01 1215.56 1209.93 1119.37 1237.46 1032.61C1265.22 945.105 1338.17 875.372 1428.72 876.004Z' fill='url(%23paint2_linear)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='-300' y='0' width='535.46' height='521.027' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='20'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d' x='1186' y='840' width='483' height='526' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='20'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear' x1='-117.315' y1='141.581' x2='52.7755' y2='371.446' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E0B400'/%3E%3Cstop offset='1' stop-color='%23FF7600'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='315.614' y1='3203.5' x2='-34.3858' y2='3203.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232D467C'/%3E%3Cstop offset='1' stop-color='%232D325A'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='1427.5' y1='876' x2='1427.5' y2='1322' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E0B400'/%3E%3Cstop offset='1' stop-color='%23FF7600'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.accounting-bg {
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='3236' viewBox='0 0 1440 3236' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.31637 36.0092C42.5392 35.4229 77.9572 62.9185 89.6876 101.332C100.808 137.749 82.8792 175.612 51.596 197.385C22.2159 217.834 -16.5911 216.482 -45.5716 195.473C-74.5749 174.448 -87.8329 138.046 -77.5397 103.77C-66.4483 66.8361 -36.3027 36.5722 2.31637 36.0092Z' fill='url(%23paint0_linear)'/%3E%3C/g%3E%3Cg filter='url(%23filter1_d)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-91 1889L-53.9789 1926.96C-15.1949 1964.91 60.6102 2040.83 99.3943 2116.74C136.415 2192.65 136.415 2268.56 99.3943 2344.48C60.6102 2420.39 -15.1949 2496.3 -15.1949 2572.22C-15.1949 2648.13 60.6102 2724.04 136.415 2799.95C213.983 2875.87 289.789 2951.78 226.324 3027.69C162.859 3103.61 11.2488 3151.04 -91 3189V3165.23C-91 3127.27 -91 3138.14 -91 3062.23C-91 2986.32 -91 2893.14 -91 2817.22C-91 2741.31 -91 2648.13 -91 2572.22C-91 2496.3 -91 2448.22 -91 2372.31C-91 2296.4 -91 2230.03 -91 2154.12C-91 2078.21 -91 1983.03 -91 1945.07V1889Z' fill='url(%23paint1_linear)'/%3E%3C/g%3E%3Cg filter='url(%23filter2_d)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1495.72 757.004C1584.63 757.625 1650.79 830.642 1679.06 916.226C1708.35 1004.87 1704.15 1108.93 1630.54 1165.1C1553.84 1223.64 1446.91 1210.63 1370.5 1151.7C1299.01 1096.56 1276.93 1000.38 1304.46 913.613C1332.22 826.105 1405.17 756.372 1495.72 757.004Z' fill='url(%23paint2_linear)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='-121' y='0' width='254' height='256' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='20'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d' x='-134' y='1850' width='427' height='1386' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='21.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter2_d' x='1253' y='721' width='483' height='526' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='20'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear' x1='6' y1='36' x2='6' y2='212' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232D467C'/%3E%3Cstop offset='1' stop-color='%232D325A' stop-opacity='0.74'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='-73.3713' y1='2104.65' x2='-73.3713' y2='2889.4' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E2B100'/%3E%3Cstop offset='1' stop-color='%23EF8B00'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='1494.5' y1='757' x2='1494.5' y2='1203' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E0B400'/%3E%3Cstop offset='1' stop-color='%23FF7600'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: 0em;
}

.navbar {
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.banner-logo {
  height: 135px;
}

.banner-logo {
  height: 165px;
  margin-top: 1rem;
  margin-left: -20px;
}

@media (max-width: 450px) {
  .banner-logo {
    height: 130px;
  }
}

.register-btn {
  color: black;
  background-color: #e0b400;
  border-color: #e0b400;
  width: 240px;
  height: 56px;
  border-radius: 16px;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 4rem;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #FF7600;
}

.nav-link {
  font-size: 16px;
  font-weight: 700;
}

.course-divider {
  margin-top: 0rem;
  margin-bottom: 0rem;
  border-top: 1px solid rgba(0,0,0,0.1);
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.74);
}

.testimonial-content {
  background-color: rgb(255,255,255);
  border-radius: 1rem;
  padding: 0rem 3rem;
  border-left: 4px solid #e0b400;
  border-right: 4px solid #e0b400;
}

.carousel-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 2s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

section {
  padding: 0rem 8rem;
}

@media (max-width: 992px) {
  section {
    padding: 0rem 2rem;
  }
}

@media (max-width: 768px) {
  section {
    padding: 0rem 5rem;
  }
}

@media (max-width: 576px) {
  section {
    padding: 0rem 2rem;
  }
}

@media (max-width: 400px) {
  section {
    padding: 0rem 0rem;
  }
}

main {
  margin-top: 3.75rem;
}

@media (max-width: 768px) {
  .dropdown-menu.show {
    text-align: right;
  }
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.card-link:hover {
  text-decoration: none;
}

.navbar-toggler.collapsed > .close, .navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
  display: none;
}

.register-date {
  font-size: 3.5rem;
  padding-top: 1rem;
}

.card.package-card:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
}

.register-contact {
  font-size: 28px;
}

.rating-grp {
  position: absolute;
  bottom: 15px;
}

.statement-grp {
  position: absolute;
  top: 20px;
}

.rating-col {
  display: flex;
  height: 75px;
  justify-content: center;
  border-radius: 0.75rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-left: 4px solid #e0b400;
  border-right: 4px solid #e0b400;
  background-color: rgb(255,248,239);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}

.statement-col {
  height: calc(350px - 15vw);
  font-size: 18px;
  border-radius: 0.75rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  padding-left: calc(100vh/30);
  border-left: 4px solid #e0b400;
  border-right: 4px solid #e0b400;
  background-color: rgb(255,248,239);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}

@media (max-width: 450px) {
  .statement-col {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .statement-col {
    height: calc(400px - 12vw);
  }
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.75rem 2rem;
  border-bottom: 2px solid #ef8b00;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 2rem;
}

.close {
  float: none;
  font-size: 3.5rem;
  font-weight: 100;
  line-height: 1;
  color: #fb9d1c;
  text-shadow: none;
  opacity: 1;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

a:hover {
  color: black;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.price {
  font-size: 30px;
  padding-left: 0.5rem;
}

.modal-header .close {
  padding: 0rem 0.25rem;
  margin: -1rem -1.5rem;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f6eacc;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(255,202,100,0.25);
}

.tutor-img {
  height: 6.75rem;
  width: 6.75rem;
  border-radius: 1.5rem;
  border: 2px solid rgba(227,130,0,0.11);
}

a:hover .tutor-img {
  border: 2px solid #EF8B00;
}

a:hover tutor-img {
  height: 5rem;
  width: 5rem;
  border-radius: 1.5rem;
  border: 2px solid #EF8B00;
}

a > .tutor-img:hover {
  border: 2px solid #ef8b00;
}

.form-sub-head {
  font-family: Alte Haas Grotesk;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 1rem;
}

.container.reg-container {
  padding-left: 0px;
  padding-right: 0px;
}

.hours {
  font-size: 36px;
  font-weight: bold;
  color: #304B78;
}

.tutor-info-categ {
  font-family: 'Alte Haas Grotesk';
  font-weight: bold;
  font-size: 14px;
}

@media (min-width:768px) {
  .content-block {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.content-block {
  padding-bottom: 40px;
  padding-top: 40px;
}

@media (min-width:768px) {
  .content-block .heading {
    margin-bottom: 80px;
  }
}

.content-block .heading {
  margin-bottom: 50px;
  text-align: center;
}

@media (min-width:768px) {
  .content-block form {
    padding: 50px;
  }
}

.table-hover .table-dark:hover, .table-hover .table-dark:hover > td, .table-hover .table-dark:hover > th {
  background-color: #000000;
}

.upg-blue {
  color: #304B78;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-family: 'Alte Haas Grotesk';
}

.form-notice {
  font-size: 12.5px;
  padding: 0rem 0.25rem;
  color: rgb(17,17,17);
}

.form-group {
  margin-bottom: 1.75rem;
}

tbody {
  background-color: #fffdf5;
}

.program-notice {
  font-size: x-large;
  font-style: italic;
  color: #304B78;
  font-weight: bold;
}

p strong {
  color: black;
  font-family: 'Alte Haas Grotesk';
  font-size: medium;
}